:root {
  --color-yellow: hsl(47, 88%, 63%);
  --color-white: hsl(0, 0%, 100%);
  --color-light-grey: hsl(0, 0%, 42%);
  --color-dark-grey: hsl(0, 0%, 7%);
  --width-mobile: 375px;
  --width-desktop: 1440px;
  --font-bold: 800;
  --font-normal: 400;
  --font-size-default: 16;
  --font-size-1: calc(((var(--font-size-default) + 8) / 16) * 1rem);
  --font-size-2: calc((var(--font-size-default) / 16) * 1rem);
  --font-size-3: calc(((var(--font-size-default) - 2) / 16) * 1rem);
}
html {
  box-sizing: border-box;
  background-color: var(--color-yellow);
  font-family: "Figtree", sans-serif;
}
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

.wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

main {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

article {
  border: solid black 1px;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 382px;
  height: 522px;
  background-color: var(--color-white);
  border-radius: 20px;
  margin-bottom: -13.5px;
  box-shadow: 8px 8px black;
}

figure > img {
  width: 100%;
  border-radius: 10px;
  display: block;
}

figure {
  margin: 0;
  padding: 24px;
}

figcaption {
  margin-top: 24px;
  /* max-height: 252px; */
  /* border: solid black 1px; */
}

.category {
  /* border: solid black 1px; */
  background-color: var(--color-yellow);
  width: fit-content;
  padding: 4px 12px;
  border-radius: 4px;
  font-weight: var(--font-bold);
  font-size: var(--font-size-3);
  line-height: 150%;
  letter-spacing: 0px;
}

.date {
  display: block;
  margin-top: 12px;
  line-height: 150%;
  letter-spacing: 0px;
  font-size: var(--font-size-3);
}

.title {
  /* border: solid black 1px; */
  letter-spacing: 0px;
  line-height: 150%;
  font-size: var(--font-size-1);
  font-weight: var(--font-bold);
  margin: 12px 0;
}

.title > a {
  text-decoration: none;
  color: black;
}

.title > a:hover {
  color: var(--color-yellow);
}
.title > a:active {
  color: var(--color-yellow);
}

.description {
  line-height: 150%;
  letter-spacing: 0px;
  font-size: var(--font-size-2);
  color: var(--color-light-grey);
  margin: 0;
}

.author {
  display: flex;
  gap: 12px;
  align-items: center;
  /* border: solid black 1px; */
  margin-top: 24px;
}

.author > img {
  max-width: 32px;
  max-height: 32px;
}

.author > p {
  font-size: var(--font-size-3);
  line-height: 150%;
  letter-spacing: 0px;
  font-weight: var(--font-bold);
  margin: 0;
}

@media (max-width: 450px) {
  :root {
    --font-size-default: 14;
  }
  article {
    max-width: 327px;
  }
}
